*{
    margin: 0;
    padding: 0;
}
img{
    width:100%;
    height: 100%;
}
.container{
    background-color: rebeccapurple;
    width: 1920px;
    height: 750px;

}
.box-1{
    width: 350px;
    height: 200px;

}
.