header{
    background-color: orange;
    color: white;
}
div{
    background-color: black;
    color: yellow;
    text-align: center;
    scroll-margin-left: 20px;
}
body{
    background-color: black;
    height: 100vh;
    margin: 0;
}

    
    


footer{
    background-color: orange;
    color: white;
}