body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 254, 254);
    overflow-x: hidden;
}

.nav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
}


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #252525e0;
    gap: 30px;
}

.nav li {
    display: inline;
}

.nav a {
    font-size: 17px;
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
section{
    display: none;
}
section .listcontainers{
    text-align: center;
    display: inline-block;
    position: relative;
    left: 20px;

}
.store:hover~.section-1{
    display: block;
}
.img1{
    padding-top: 10%;
    justify-content: center;
    text-align: center;
    background-color: rgb(248, 245, 245);
}

