.navbar{
    background-color: black;
    color: white;
    border: 15px;
    padding: 10px;
    margin-bottom: 10%;

}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;

    

}
#main{
    text-align: center;
    color: orange;
    font-size: 25px;
    margin-right: 30%;
}
#main2{
margin-left: 30%;}
input{
    padding: 5px;
    width: 120px;
    
}
button {
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    color: white;
    margin: right;
    

}
.logo{
    margin-left: 60%;
}

#main22{
    text-align: center;
    color: orange;
    font-size: 25px;
    margin-right: 60%;
}